@{
    ViewData["Title"] = "Dashboard Page";
}
@section Scripts {
    <script src="~/js/med.js" asp-append-version="true"></script>
    <script src="~/js/inv.js" asp-append-version="true"></script>
}

<head>
    <link rel="stylesheet" href="~/css/pages.css" asp-append-version="true" />
</head>

<main class="main-content">
    <div class="page-header">
        <h1>Dashboard</h1>
        <p>Manage your Pharmacy Store</p>
    </div>

    <!-- Dashboard Tabs -->
    <div class="settings-tabs">
        <button class="settings-tab active" data-tab="profile">Store</button>
        <button class="settings-tab" data-tab="security">Inventory</button>
        <button class="settings-tab" data-tab="notifications">Billing</button>
        <button class="settings-tab" data-tab="preferences">Invoices</button>
    </div>

    <!-- Stocks -->
    <div class="settings-content active" id="profile">
        <div class="card">

            <div class="card-header">
                <h3 class="card-title" id="medCardTitle">New Medicine</h3>
                <p class="card-description">Store medicine to inventory</p>
            </div>

            <div class="profile-header">
                <div class="profile-avatar">
                    MED
                    <div class="avatar-edit">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7" />
                            <path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z" />
                        </svg>
                    </div>
                </div>
                <div class="profile-info" id="medInfo">
                    <h2>Medicine Name</h2>
                    <p>Medicine Deatils</p>
                    <span class="profile-badge">Medicine Type</span>
                </div>
            </div>
            <form class="auth-form active" id="medsForm">
                <div class="form-grid">
                    <div class="form-group">
                        <label class="form-label">Medicine Name</label>
                        <input type="text" id="medName" class="form-input" placeholder="Name of medicine..." value="" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Medicine Type</label>
                        <select id="medType" class="form-select" required>
                            <option value="Tablet" selected>Tablet</option>
                            <option value="Capsule">Capsule</option>
                            <option value="Syrup">Syrup</option>
                            <option value="Injection">Injection</option>
                            <option value="Drops">Drops</option>
                            <option value="Inhaler">Inhaler</option>
                            <option value="Suppository">Suppository</option>
                            <option value="Cream">Cream</option>
                            <option value="Ointment">Ointment</option>
                        </select>
                    </div>
                    <div class="form-group full-width">
                        <label class="form-label">Medicine Description</label>
                        <input type="text" id="medDesc" class="form-input" placeholder="Deatils about medicine..." value="" required>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" id="medAddEdit" class="btn primary">+ Add Medicine</button>
                    <button type="button" id="medCancel" class="btn" onclick="window.location.href='/Dashboard/Index'">Cancel</button>
                    <button class="btn danger" id="medDel">Delete</button>
                </div>
            </form>
        </div>

        
        <div class="card" id="medsBatchForm">
            <div class="card-header">
                <h3 class="card-title" id="medBatchCardTitle">New Batch</h3>
                <p class="card-description">Preserve new Batch to Inventory</p>
            </div>

            <form class="auth-form active">
                <div class="form-grid-trio">
                    <div class="form-group">
                        <label class="form-label">Batch No</label>
                        <input type="text" id="medBatchNo" class="form-input" placeholder="Batch Number" value="" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Unit Price</label>
                        <input type="number" id="medBatchUp" class="form-input" placeholder="Amount" value="1" min="1" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Currency</label>
                        <select class="form-select" id="medBatchCurr">
                            <option value="$" selected>$</option>
                            <option value="€">€</option>
                            <option value="₹">Rupee</option>
                            <option value="BDT">BDT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Quantity</label>
                        <input type="number" id="medBatchQt" class="form-input" value="1" min="1" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Discount</label>
                        <input type="text" id="medBatchDisc" class="form-input" value="0" min="0">
                    </div>
                    <div class="form-group">
                        @* <span class="transaction-value negative">Invalid</span> *@
                        <label class="form-label">Expiry Date <span id="medBatchExpIV" class="transaction-status invalid" style="display:none;float:right"> Invalid Date</span></label>
                        <input type="text" id="medBatchExp" class="form-input form-date" placeholder="MM-DD-YY" value="" required>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" id="medBatchAddEdit" class="btn primary">+ Add Batch</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            </form>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Medicine Batches</h3>
                <p class="card-description">Manage Medcine Batches</p>
            </div>

            <!-- Medicine Batch Table -->
            <div class="card">
                <table class="market-table">
                    <thead>
                        <tr>
                            <th># Batch No</th>
                            <th>Medicine Name</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Unit Price</th>
                            <th class="text-right">Discount %</th>
                            <th class="text-right">Expiry Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="med-batches-tbody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Stock Settings -->
    <div class="settings-content" id="security">
        <div class="page-header">
            <h1>Stocks</h1>
            <p>Available Medicine Stocks in Inventory</p>
        </div>

        <!-- Stocks Summary -->
        <div class="market-stats">
            <div class="market-stat">
                <div class="market-stat-label">Total Stocks</div>
                <div class="market-stat-change positive">Medicine</div>
                <div class="market-stat-value" id="bi_stocks"></div>
            </div>
            <div class="market-stat">
                <div class="market-stat-label">Total Sells</div>
                <div class="market-stat-change positive">Medicine</div>
                <div class="market-stat-value" id="bi_sells"></div>
            </div>
            <div class="market-stat">
                <div class="market-stat-label">Total Revenue from</div>
                <div class="market-stat-change positive">Medicine</div>
                <div class="market-stat-value" id="bi_revenue"></div>
            </div>
            <div class="market-stat">
                <div class="market-stat-label">Out of Stocks</div>
                <div class="market-stat-change negative">Medicine</div>
                <div class="market-stat-value" id="bi_of_stocks"></div>
                
            </div>
        </div>

        <!-- Search and Filters -->
        @* <div class="search-filters">
            <div class="search-box">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                </svg>
                <input type="text" placeholder="Search coins..." id="searchInput">
            </div>
        </div> *@

        <!-- Medicine Table -->
        <div class="card">
            <table class="market-table">
                <thead>
                    <tr>
                        <th># No</th>
                        <th>Medicine Name</th>
                        <th class="text-right">Medicine Type</th>
                        <th class="text-right">Medicine Details</th>
                        <th class="text-right">Stocks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="meds-inv-tbody"></tbody>
            </table>
        </div>
    </div>

    <!-- Invoice -->
    <div class="settings-content" id="notifications">
        <div class="card">
            <div class="profile-header">
                <div class="profile-avatar">
                    IN
                    <div class="avatar-edit">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7" />
                            <path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z" />
                        </svg>
                    </div>
                </div>
                <div class="profile-info">
                    <h2>New Invoice</h2>
                    <p></p>
                    <span class="profile-badge">Invoicer</span>
                </div>
            </div>
            <div class="form-grid">
                <div class="form-group">
                    <label class="form-label">Medicine Name</label>
                    <select id="invoiceMeds" class="form-select" required>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Medicine Batch</label>
                    <select class="form-select" id="invoiceBatches">
                    </select>
                </div>
            </div>
        </div>

        <div class="card" id="invoiceForm">
            <div class="card-header">
                <h3 class="card-title" id="invoiceCardTitle">Medicine Billing</h3>
                <p class="card-description">List out available Medicines</p>
            </div>

            <form class="auth-form active">
                <div class="form-grid-trio">
                    <div class="form-group">
                        <label class="form-label">Unit Price</label>
                        <input type="number" id="invoiceUp" class="form-input" placeholder="Amount" value="1" min="1" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Currency</label>
                        <select class="form-select" id="invoiceCurr">
                            <option value="$" selected>$</option>
                            <option value="€">€</option>
                            <option value="₹">Rupee</option>
                            <option value="BDT">BDT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Quantity</label>
                        <input type="number" id="invoiceQt" class="form-input" value="1" min="1" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Discount</label>
                        <input type="text" id="invoiceDisc" class="form-input" value="0" min="0">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Expiry Date <span id="invoiceExpIV" class="transaction-status invalid" style="display:none;float:right"> Invalid Date</span></label>
                        <input type="text" id="invoiceExp" class="form-input form-date" placeholder="MM-DD-YY" value="" required>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" id="invoiceAddEdit" class="btn primary">+ Add to Invoice</button>
                </div>
            </form>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Invoice List</h3>
                <div class="form-grid">
                    <div class="form-group">
                        <label class="form-label">Customer Name</label>
                        <input type="text" id="custName" class="form-input" placeholder="Name" value="" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Phone Number</label>
                        <input type="tel" id="custNum" class="form-input" placeholder="Number" value="" required>
                    </div>
                </div>
                <div class="btn-group">
                    <button class="btn primary" id="invoiceSave">Save Invoice</button>
                    @* <button class="btn" id="invoiceCancel">Cancel</button> *@
                </div>
            </div>

            <!-- Medicine Batch Table -->
            <div class="card">
                <table class="market-table">
                    <thead>
                        <tr>
                            <th># Batch No</th>
                            <th>Medicine Name</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Unit Price</th>
                            <th class="text-right">Discount %</th>
                            <th class="text-right">Expiry Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="invoices-tbody"></tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Invoice History -->
    <div class="settings-content" id="preferences">
        <div class="card" id="invHistItems">
            <div class="card-header">
                <h3 class="card-title" id="inv-no-items">Invoice No: </h3>
                <p class="card-description">Verify invoice items</p>
                <button class="btn" id="invItemCancel">Cancel</button>
            </div>

            <!-- Invoice History Items Table -->
            <div class="card">
                <table class="market-table">
                    <thead>
                        <tr>
                            <th># Batch No</th>
                            <th>Medicine</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Unit Price</th>
                            <th class="text-right">Discount %</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">Expiry Date</th>
                        </tr>
                    </thead>
                    <tbody id="inv-hist-item-tbody"></tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Invoice History</h3>
                <p class="card-description">Track your invoices</p>
            </div>

            <!-- Invoice History Table -->
            <div class="card">
                <table class="market-table">
                    <thead>
                        <tr>
                            <th># Invoice No</th>
                            <th>Customer</th>
                            <th class="text-right">Items</th>
                            <th class="text-right">Total Price</th>
                            @* <th class="text-right">Discount %</th> *@
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="inv-hist-tbody"></tbody>
                </table>
            </div>
        </div>
    </div>

</main>
